.header-poster-prev {
    &__wrap {
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 1em 0 1em 0;
    }
    
    &__text--white {
        color: rgba(255, 255, 255);
    }
}