.home-page {
  padding-top: 4em;

  &__header {
    background-image: url("//image.tmdb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,032541,01b4e4)/2lBOQK06tltt8SQaswgb8d657Mv.jpg");
    min-height: 300px;
    height: calc(100vh / 2.5);
    max-height: 360px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    @include flexCenter(column);

    &-content {
      width: 90%;
      margin: auto;

      &-search-bar {
        @include flexCenter(row);
        background-color: white;
        width: 100%;
        height: 1em;
        border-radius: 30px;
        padding: 1em 0.5em 1em 1em;
      }

      &-input {
        flex-grow: 1;
      }

      button {
        color: white;
        background: linear-gradient(
          to right,
          rgba(30,213,169, 1) 0%,
          rgba(1,180,228, 1) 100%
        );
        border-radius: 30px;
      }
    }
  }
}
