.movie-poster-library {

  img {
    border-radius: 20px;
  }

  &__preview {
    img {
      width: 100%;
    }
  }

  &__list-images {
    height: 25em;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 10px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: rgb(255, 255, 255);
      border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: rgb(189, 0, 0);
    }

    img {
      width: 100%;
      cursor: pointer;
      padding: 0.5em 0.1em 0.5em 0em;
      &:hover {
        transform: scale(0.9);
        transition: transform 0.5s;
      }
    }
  }
}
