.navbar-header {

    .MuiAppBar-colorPrimary {
        background-color: $primary-color;
    }

    &__logo {
        img {
            width: 7em;
        }
    }

    &__menu {
        @include flexCenter(row);
        justify-content: flex-start;
        flex-grow: 1;

        &-item {
            padding: 1em;
            cursor: pointer;
            position: relative !important;
            
            &-title:hover {
                opacity: 0.8;
            }

            &--dropdown {
                position: absolute;
                top: 3em;
            }
        }
    }

    &__search-icon {
        color: $secondary-color;
    }
}