$primary-color: #0d253f;
$secondary-color: #01b4e4;
$tertiary-color: #90cea1;

$bg-img-primary: linear-gradient(to right, #32be8f, #38d39f, #32be8f);

$lobster-font: 'Lobster', cursive;
$roboto-font: 'Roboto Slab', serif;

$padding-top-page: 4em;